@charset "UTF-8";
@font-face {
  font-family: "YuseiMagic";
  src: url("/resources/fonts/YuseiMagic-Regular.ttf");
}
@font-face {
  font-family: "Corleone";
  src: url("/resources/fonts/Corleone.TTF");
}
/* MENU */
header {
  grid-area: header;
  background-color: #8e231b;
  padding: 0.8rem;
  position: relative;
}

/* FIN MENU */
main {
  grid-area: main;
}

footer {
  grid-area: footer;
  padding: 1.35rem;
  background-color: #8e231b;
  color: white;
  box-sizing: border-box;
}
footer a {
  font-family: YuseiMagic;
  color: white;
}

nav a {
  font-family: Open Sans, sans-serif;
  color: white;
  font-size: 1.25rem;
  text-decoration: none;
}
nav a:hover {
  border-bottom: 3px solid #4d4d4d;
  padding-bottom: 2px;
  color: #4d4d4d;
}
nav a:nth-child(6):hover > i.fa-envelope {
  color: #4d4d4d;
}

.fas,
.fab,
.far {
  margin-right: 8px;
}

.fa-github,
.fa-envelope,
.fa-facebook,
.fa-twitter,
.fa-instagram,
a > i {
  color: white;
}

a.fa-envelope {
  padding-bottom: 5px;
}

/* icono del arrow up centrado */
i.fa-arrow-up {
  display: contents;
}

.active {
  border-bottom: 3px solid white;
  padding-bottom: 2px;
  font-weight: 800;
}

/* responsive design tablet + desktop */
@media screen and (min-width: 800px) {
  /* MENU DESKTOP */
  header {
    display: flex;
  }
  header > a > img {
    margin-bottom: -0.5rem;
    box-sizing: border-box;
    height: 70px;
  }

  nav {
    align-self: center;
    position: absolute;
    right: 15%;
  }
  nav > div:last-of-type,
nav > div:last-of-type > a:nth-last-child(2) {
    display: inline-flex;
  }
  nav > div > a:last-of-type {
    display: none;
  }
  nav > div > a:not(:nth-last-of-type(2)) {
    margin-right: 2.5%;
    margin-left: 2.5%;
  }
  nav > div:last-of-type > a:nth-last-child(2) i {
    align-self: center;
    padding-left: 5%;
  }

  /* END MENU DESKTOP */
  footer {
    display: flex;
    text-align: right;
    height: 100%;
    align-items: center;
    box-sizing: border-box;
  }
  footer > div:last-of-type {
    right: 10px;
    position: absolute;
    height: 50px;
  }
  footer i {
    margin-left: 15px;
  }
  footer i:hover {
    color: #4d4d4d;
  }

  .icon {
    display: none;
  }
}
/* Responsive design mobile */
@media screen and (max-width: 799px) {
  /* Diseño MENU MOVIL */
  header > div:first-of-type {
    width: fit-content;
    float: right;
  }
  header > a > img {
    width: 100px;
  }

  nav > div {
    display: none;
  }
  nav a {
    display: block;
    margin-top: 2rem;
    padding-bottom: 2rem;
  }
  nav a:not(:last-of-type) {
    border-bottom: 1px solid white;
  }
  nav a:nth-last-of-type(2) {
    display: none;
  }

  #optionsMenu {
    width: 100%;
  }

  #menu a.icon {
    display: block;
    position: absolute;
    right: 20px;
  }

  .active {
    color: #4d4d4d;
    padding-bottom: 2rem;
    font-size: 1.5rem;
  }

  i.fas.fa-times {
    display: none;
  }

  /* FIN MENU MÓVIL */
  footer {
    text-align: center;
  }
  footer > div {
    margin-top: 25px;
  }
}
button, #signup input[type=button], #signup > fieldset label,
#signup > fieldset p, #signup > fieldset {
  font-weight: 900;
  color: black;
}

button, #signup input[type=button] {
  background-color: #8e231b;
  color: white;
  border: none;
  border-radius: 5px;
  margin: 0 auto;
  display: block;
  margin-top: 4%;
  margin-bottom: 4%;
  text-transform: uppercase;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
}
button:hover, #signup input[type=button]:hover {
  border: 2px solid #8e231b;
  background-color: white;
  color: #8e231b;
}

body {
  margin: 0;
}

#signup {
  max-width: 700px;
  box-sizing: border-box;
  margin: 0 auto;
}
#signup > fieldset {
  margin-top: 15px;
  color: #8e231b;
  font-size: 1.5rem;
}
#signup > fieldset:not(legend) {
  font-family: YuseiMagic;
}
#signup > fieldset > legend {
  font-family: Corleone;
  font-weight: 100;
  font-size: 2rem;
  letter-spacing: 2px;
}
#signup > fieldset div {
  display: flex;
  align-items: center;
  width: 100%;
}
#signup > fieldset label,
#signup > fieldset p {
  font-size: 1.2rem;
  padding-left: 2%;
  margin-top: 2%;
}
#signup > fieldset p {
  margin-top: 4%;
}
#signup > fieldset input {
  margin-top: 2%;
}
#signup > fieldset input:focus {
  background-color: #8e661bab;
}
#signup > fieldset input:not([type=radio]) {
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 76%;
}
#signup > fieldset input[type=password] {
  width: 100%;
}
#signup > fieldset input[type=radio]:last-of-type {
  margin-left: 5%;
}
#signup > fieldset select {
  margin-top: 2%;
  height: 30px;
}
.grid-container {
  display: grid;
}

#botonTop {
  display: none;
  /* empieza siempre oculto */
  position: fixed;
  bottom: 3.3rem;
  right: 0.3rem;
  z-index: 99;
  /* así queda siempre superpuesto */
  color: white;
  background-color: #4d4d4d;
  box-sizing: border-box;
  font-size: 80%;
  width: auto;
}
#botonTop:hover {
  color: white;
  background-color: #8e231b;
}

.togglePassword {
  margin-left: -30px;
  cursor: pointer;
}

.fa-eye-slash,
.fa-eye {
  font-size: 18px;
}

/* Responsive design mobile */
@media screen and (max-width: 799px) {
  fieldset div {
    flex-direction: column;
  }

  .grid-container {
    grid-template-areas: "header" "main" "footer";
  }
}
/* Responsive design tablet + desktop */
@media screen and (min-width: 800px) {
  .grid-container {
    grid-template-areas: "header header header header" "main main main main" "footer footer footer footer";
  }

  fieldset div {
    flex-direction: row;
  }
}

/*# sourceMappingURL=styles-form.css.map */
