@font-face {
  font-family: "YuseiMagic";
  src: url("/resources/fonts/YuseiMagic-Regular.ttf");
}

@font-face {
  font-family: "Corleone";
  src: url("/resources/fonts/Corleone.TTF");
}

$error: red;
$main-color: #8e231b;
$font-mida: 1rem;
$espai: 2%;
