// para compilar manualmente --> sass scss/styles.scss css/styles.css
// para compilar automáticamente sass --watch src/scss/styles.scss:src/css/styles-form.css

@import "general";
@import "header_footer";

@mixin padding($std-padding) {
  padding-left: $std-padding * 2;
  padding-right: $std-padding * 2;
  padding-top: $std-padding;
  padding-bottom: $std-padding;
}

@mixin flex-div($direction) {
  flex-direction: $direction;
}

%titulos {
  font-weight: 900;
  color: black;
}

%btn {
  background-color: $main-color;
  color: white;
  border: none;
  border-radius: 5px;
  margin: 0 auto;
  display: block;
  margin-top: $espai + 2%;
  margin-bottom: $espai + 2%;
  text-transform: uppercase;
  @include padding(15px);

  &:hover {
    border: 2px solid $main-color;
    background-color: white;
    color: $main-color;
  }
}

body {
  margin: 0;
}

main {
  > div {
    &:first-of-type {
      display: flex;
      justify-content: center;
      flex-direction: row-reverse;

      > button {
        margin: 20px;
      }
    }
  }

  hr {
    width: 50%;
    border: 1px solid $main-color;
    margin-top: $espai;
    margin-bottom: $espai;
  }

  h1 {
    font-family: YuseiMagic;
    text-align: center;
    @extend %titulos;
  }
}

#warnOK {
  display: none;
  width: 50%;
  margin: 0 auto;
  background-color: #55a846;
  border-radius: 5px;
  padding: 40px;
  color: white;
  font-family: YuseiMagic;
  text-align: center;
  margin-bottom: $espai + 3%;
  position: relative;

  .fa-times {
    display: block;
    position: absolute;
    right: 20px;
    top: 20px;
  }
}

form {
  max-width: 700px;
  box-sizing: border-box;
  margin: 0 auto;

  &:last-of-type {
    margin-bottom: $espai + 3%;
  }

  &#login {
    display: flex;
    justify-content: center;
    width: 700px;

    div {
      display: flex;
      flex-direction: column;
      width: 400px;
      position: relative;

      input {
        width: 350px;
      }
    }

    .togglePassword {
      cursor: pointer;
      width: fit-content;
      position: absolute;
      right: 22px;
      margin-top: 75px;
    }

    input[type="button"] {
      margin-top: $espai + 8%;
    }

    a {
      font-size: small;
      margin-top: 5%;
      color: $main-color;
    }
  }

  &#signup {
    display: none;

    .togglePassword {
      margin-left: -30px;
      cursor: pointer;
    }
  }

  > fieldset {
    margin-top: 15px;
    color: $main-color;
    font-size: $font-mida + 0.5;
    @extend %titulos;

    &:last-of-type {
      > p {
        font-size: small;
      }
    }

    &:not(legend) {
      font-family: YuseiMagic;
    }

    > legend {
      font-family: Corleone;
      font-weight: 100;
      font-size: $font-mida * 2;
      letter-spacing: 2px;
    }

    div {
      display: flex;
      align-items: center;
      width: 100%;
    }

    label,
    p {
      font-size: $font-mida + 0.2;
      margin-top: $espai;
      @extend %titulos;
    }

    label[for="pw2"],
    label[for="email2"] {
      padding-left: $espai;
    }

    p {
      margin-top: $espai + 2%;
    }

    input {
      margin-top: $espai;

      &:focus {
        background-color: #8e661bab;
      }

      &:not([type="button"]) {
        @include padding(8px);
      }

      &[type="radio"]:last-of-type {
        margin-left: $espai + 3%;
      }
    }

    select {
      margin-top: $espai;
      height: 30px;
    }
  }

  input[type="button"] {
    @extend %btn;
    @extend %titulos;
  }
}

button {
  @extend %btn;
  @extend %titulos;
}

.grid-container {
  display: grid;
}

#botonTop {
  display: none; /* empieza siempre oculto */
  position: fixed;
  bottom: 3.3rem;
  right: 0.3rem;
  z-index: 99; /* así queda siempre superpuesto */
  color: white;
  background-color: #4d4d4d;
  box-sizing: border-box;
  font-size: 80%;
  width: auto;

  &:hover {
    color: white;
    background-color: $main-color;
  }
}

.fa-eye-slash,
.fa-eye {
  font-size: 18px;
}

/* Responsive design mobile */
@media screen and (max-width: 799px) {
  #warnOK {
    font-size: $font-mida;
  }

  #signup {
    margin-left: 10%;
    margin-right: 10%;

    fieldset {
      input {
        width: 80%;

        &[type="radio"]:last-of-type {
          margin-top: 25px !important;
        }
      }

      div {
        @include flex-div(column);
      }
    }
  }

  .grid-container {
    grid-template-areas:
      "header"
      "main"
      "footer";
  }
}

/* Responsive design tablet + desktop */
@media screen and (min-width: 800px) {
  #warnOK {
    font-size: $font-mida + 0.5rem;
  }

  .grid-container {
    grid-template-areas:
      "header header header header"
      "main main main main"
      "footer footer footer footer";
  }

  fieldset {
    div {
      @include flex-div(row);

      input {
        &:not([type="radio"]) {
          width: 100%;
        }
      }
    }
  }
}
